/* 공통 css */
* { 
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans KR', 'Noto Sans Korean', '돋움', dotum, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: block;
    min-height: 1080px;
    min-width: 1060px;
    background: #f3f3f4; 
    font-size: 13px;
    color: #333;
    margin: 0;
    padding: 0;
}

/* .body_wrap {
    width: 100%;
    margin: 0 auto;
} */

a {
    color: black;
    text-decoration: none;
}

/* index_header */
.index_header_wrap {
    width: 100%;
    height: 52px;
    margin: 0 auto;
    background-color: #2E89FF;
    /* border: 1px solid black; */
    /* border-bottom: 1px solid black; */
    text-align: center;
    position: fixed;
    z-index: 1;
}

.index_header_menu {
    display: inline-block;
    width: 1060px;
    height: 52px;
    /* border: 1px solid black; */
}

.index_header_menu_ul_left {
    width: 500px;
    height: 52px;
    /* border: 1px solid black; */
    list-style: none;
    float: left;
    text-align: left;
}

.index_header_menu_ul_left li {
    float: left;
    /* border: 1px solid black; */
    height: 52px;
    margin-right: 40px;
    position: relative;
    top: 14px;
}

.index_header_menu_ul_left li span {
    /* border: 1px solid black; */
    color: #fff;
    font-size: 16px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.index_header_logo_img {
    width: 150px;
    height: 30px;
    /* margin-right: 40px; */
    position: relative;
    top: -14px;
}

.index_header_logo_img img {
    width: 150px;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border: 1px solid black; */
}

.index_header_menu_ul_right {
    width: 500px;
    height: 52px;
    /* border: 1px solid black; */
    list-style: none;
    float: right;
    text-align: right;
}

.index_header_menu_ul_right li {
    float: right;
    /* border: 1px solid black; */
    width: 18px;
    height: 52px;
    padding-top: 16px;
    margin-left: 35px;
    box-sizing: border-box;
}

.index_header_review_img {
    width: 18px;
    height: 52px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    top: -15px;
    left: -17px;
    /* border: 1px solid black; */
    cursor: pointer;
}

.index_header_review_img img {
    width: 18px;
    height: 18px;
    /* border: 1px solid black; */
    padding-top: 17px;
    padding-bottom: 15px;
}

.index_header_profile_img {
    width: 18px;
    height: 52px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    top: -15px;
    left: -17px;
    /* border: 1px solid black; */
    cursor: pointer;
}

.index_header_profile_img img {
    width: 18px;
    height: 18px;
    /* border: 1px solid black; */
    padding-top: 17px;
    padding-bottom: 15px;
}

.index_header_menu_hover {
    text-align: center;
    display: none;
}

.index_header_menu_hover img {
    position: relative;
    /* top: 7px; */
    width: 18px;
    height: 9px;
}

.index_header_menu_ul_left li:hover .index_header_menu_hover {
    display: block;
}

.index_header_menu_ul_left li:hover .index_header_menu_hover_detail {
    display: block;
}

/* 호버시, 흰색 서브메뉴 */
.index_header_menu_hover_detail {
    text-align: center;
    /* border: 1px solid black; */
    display: none;
}

.index_header_menu_hover_detail img {
    position: relative;
    top: -30px;
    width: 18px;
    height: 9px;
    z-index: 1;
}

.index_header_menu_hover_detail_review {
    width: 140px;
    height: 50px;
    border: 1px solid lightgray;
    position: relative;
    top: -35px;
    right: 65px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    border-radius: 4px;
    background: #fff;
    display: none;
}

.index_header_menu_hover_detail_review ul {
    list-style: none;
    cursor: pointer;
}

.index_header_menu_hover_detail_review ul li {
    /* border: 1px solid black; */
    width: 100%;
    position: relative;
    top: -2px;
}

.index_header_menu_ul_right li:hover .index_header_menu_hover_detail {
    display: block;
}

.index_header_menu_ul_right li:hover .index_header_menu_hover_detail_review {
    display: block;
}

.index_header_menu_hover_detail_review li:hover {
    font-weight: bold;
}

.index_header_menu_hover_detail_profile {
    width: 140px;
    height: 215px;
    border: 1px solid lightgray;
    position: relative;
    top: -35px;
    right: 63px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    border-radius: 4px;
    background: #fff;
    display: none;
}

.index_header_menu_hover_detail_profile ul {
    list-style: none;
    text-align: left;
    padding-left: 20px;
    padding-top: 3px;
}

.index_header_menu_hover_detail_profile ul li {
    /* border: 1px solid black; */
    width: 100%;
    height: 40px;
    position: relative;
    top: -2px;
    cursor: pointer;
}

.index_header_menu_ul_right li:hover .index_header_menu_hover_detail {
    display: block;
}

.index_header_menu_ul_right li:hover .index_header_menu_hover_detail_profile {
    display: block;
}

.index_header_menu_hover_detail_profile li:hover {
    font-weight: bold;
}