* { 
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans KR', 'Noto Sans Korean', '돋움', dotum, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: block;
    min-height: 1080px;
    min-width: 1060px;
    background: #f3f3f4; 
    font-size: 13px;
    color: #333;
    margin: 0;
    padding: 0;
}

/* .body_wrap {
    width: 100%;
    margin: 0 auto;
} */

a {
    color: black;
    text-decoration: none;
}

.academy_header_wrap {
    width: 100%;
    height: 447px;
    /* border: 1px solid black; */
    margin: 0 auto;
    background-color: #ebecee;
}

.academy_header_img {
    width: 100%;
    height: 170px;
    /* border: 1px solid black; */
    background-color: gray;
}

.academy_big_logo {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: transparent;
    /* border: 2px solid lightgray; */
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top: -27px;
}

/* 기업 등록 이미지 */
.academy_big_logo img{
    width: 100px;
    height: 100px;
}

.academy_header_info_wrap {
    width: 100%;
    height: 210px;
    /* border: 1px solid black; */
    border-bottom: 1px solid lightgray;
    background-color: #fff;
}

.academy_header_info {
    margin: 0 auto;
    width: 1060px;
    height: 210px;
    /* border: 1px solid black; */
    /* background-color: #fff; */
}

#academy_title {
    font-size: 30px;
    position: relative;
    top: -12px;
    cursor: pointer;
}

#academy_title:hover {
    text-decoration: underline;
}

.academy_title_detail {
    width: 100%;
    height: 30px;
    /* border: 1px solid black; */
    position: relative;
    top: -3px;
}

.academy_title_detail img {
    width: 24px;
    height: 24px;
}

#academy_star_span {
    font-size: 22px;
    font-weight: bold;
    position: relative;
    top: -3px;
    padding-left: 5px;
}

#academy_district {
    font-size: 14px;
    font-weight: 400;
    color: gray;
    position: relative;
    top: -5px;
    padding-left: 20px;
}

.academy_header_menu_wrap {
    width: 100%;
    height: 65px;
    /* border: 1px solid black; */
    border-bottom: 1px solid lightgray;
    background-color: #fff;
}

.academy_header_menu {
    margin: 0 auto;
    width: 1060px;
    height: 65px;
    /* border: 1px solid black; */
    /* background-color: #fff; */
}

.academy_header_menu_ul {
    list-style: none;
    position: relative;
    top: 18px;
}

.academy_header_menu_ul li {
    display: inline-block;
    padding-bottom: 21px;
    margin-right: 50px;
}

.academy_header_menu_ul li:hover {
    border-bottom: 2px solid #2E89FF;
}

.academy_header_menu_ul span {
    /* border: 1px solid black; */
    /* padding-top: 16px;
    padding-bottom: 21px; */
    font-size: 16px;
    color: rgb(58, 58, 58);
    font-weight: normal;
}

#button_add_like {
    width: 75px;
    height: 40px;
    border: 1px solid #2E89FF;
    border-radius: 3px;
    background-color: #fff;
    color: #2E89FF;
    float: right;
    position: relative;
    top: -6px;
    cursor: pointer;
    font-size: 14px;
}

#button_add_like:hover {
    background-color: rgba(46, 137, 255, 0.13);
}