* {
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans KR', 'Noto Sans Korean', '돋움', dotum, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: block;
    background: #ebecee;
    font-size: 13px;
    color: #333;
}


section {
  /* min-height: 1080px; */
  min-width: 1060px;
  margin: 0 auto;
  position: relative;
}

.content_title_wrap {
  text-align: left;
}