* {
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans KR', 'Noto Sans Korean', '돋움', dotum, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: block;
    min-height: 1080px;
    min-width: 1060px;
    background: #f3f3f4;
    font-size: 13px;
    color: #333;
    margin: 0;
    padding: 0;
    position: relative;
    top: -20px;
}


.body_wrap {
    position: relative;
    top: 20px;
}

#mapp{
  border-top: 1px solid lightgray;
}
#map_div{
  height: 55px;
}
#infor_map{
  /* border: 1px solid blue; */
  margin: 0 auto;
  width: 1060px;
}
.li_width{
  width: 120px;
  color: gray;
  font-weight: bold;
}

#infor ul{
  margin-left: 0px;
}
#infor li{
  list-style: none;
  display: inline-block;
  padding-bottom: 28px;
  font-size: 17px;

}

#eduform{
  margin: 0 auto;
  padding: 0auto;
  width: 1060px;
  height: 492px;
  /* border : 1px solid red; */
  margin-bottom: 30px;
}
#infor{
  width: 1030px;
  height: 402px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  background-color: white;
  margin: 0 auto;
  padding: 15px;
}
#edutitle{
  height: 55px;
}


#eduInforMain{
  background-color: #F6F6F6;
  width: 100%;
  height: 1080px;
  padding-top: 40px;

}
#asdf{
  color: black;
}
