body {
  background-color: #ebecee;
}

#table {
  width: 960px;
  margin: 10px auto;
  margin-bottom: 50px;
  border-collapse: collapse;

}
tr{
  width: 960px;
}

td{
  width: 160px;
  border: 2px solid #ececec;
  background-color: #fff;
  font-size: 15px;
  padding: 15px;
  text-align: center;
}

.sc_top{
  background-color: #2E89FF;
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding: 7px;
}

.sc_time{
  background-color: #d3d3d3;
}

.sc_top:first-child{
  background-color: rgba(46, 137, 255, 0.603);
  text-align: center;
  color: #fff;
  font-size: 25px;
  padding: 15px;
}

/* ------------- */

.teacher_carousel {
  width: 960px;
  margin: 0px auto;
  height: 400px;
  padding: 20px;
}

.teacher_box {
  margin: 0px 20px;
  background-color: white;
}

#lecture_container {
  width: 1060px;
  margin: 30px auto;
}

h1 {
  margin-left: 50px;
  font-size: 28px;
  padding-bottom: 10px;
}

.teacher_img {
  width: 164px;
  height: 164px;
  border-radius: 5px;
  padding: 20px 30px;
}

.card-body>h4 {
  font-size: 22px;
  text-align: center;
  width: 100%;
  padding: 5px 0px;
  background-color: rgba(46, 137, 255, 0.794);
  color: #fff;
}

.card-body>h4>span {
  display: block;
  font-size: 15px;
}

.card-text {
  font-size: 15px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

/* 화살표 */
.slick-prev:before,
.slick-next:before {
  color: #2E89FF;
}

.teacher_schedule{
  width: 1060px;
  margin: 10px auto 50px auto;
}