* { 
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans KR', 'Noto Sans Korean', '돋움', dotum, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: block;
    min-height: 1080px;
    min-width: 1060px;
    background: #ebecee; 
    font-size: 13px;
    color: #333;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

.header_searchbar_fix {
    position: relative;
    top: -20px;
}

.header_mypage {
    position: relative;
    top: 32px;
}

.mypage_content_wrap {
    width: 960px;
    height: 700px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 73px;
    box-sizing: border-box;
    margin-bottom: 60px;
}

.mypage_content {
    width: 960px;
    height: 700px;
    background: #fff;
    margin: 0 auto;
}