/* membership.bill.CSS */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', 'Noto Sans Korean', '돋움', dotum, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: auto 0;
  background-color: #ebecee;
}

section {
  margin: 0;
  padding: 0;
  min-width: 1060px;
}

.inner_section {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding: 2.5em;
  width: 50%;
  margin: 3% auto;
  background: #fff;
  text-align: center;
}
.thankyou_logo, h2 { display: block; padding-bottom: 2em;}
.pay_end_wrap { display: block;}
.pay_end_content{
  background-color: #f7f7f7;
  width: 80%;
  height: 115px;
  text-align: center;
  margin: 0 auto;
}
ul {
  list-style: none;
  text-align: left;
  margin-right: 2em;
  margin-left: 2em;
  padding: 0.1em;
  width:60%;

 }
li { margin:10px;}
.key { display:inline-block; color: #888888; font-weight:800; width: 80px;}

.pay_end_button { text-align: center; margin-top: 50px;}
.pay_end_button>button {
  font-weight: bold;
  font-size: 18px;
  padding: 14px 28px;
  width: 187px;
  height: 56px;
  margin: 0 10px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #2E89FF;
}

/* .pay_end_button>button:first-child:hover { background: #c5c7cc;} */
.pay_end_button>button:hover { background: #0b7dda;}
